<%= render partial: 'shared/form_errors', locals: { form: user } %>

<div class="center">
  <%= form_for user do |f| %>
    <%= label_tag :username, nil, class: "left" %>
    <%= f.text_field :username, placeholder: 'username' %>
    <%= label_tag :email, nil, class: "left" %>
    <%= f.text_field :email, placeholder: 'email' %>
    <%= label_tag 'Choose Company', nil, class: "left" %>
    <%= f.select :company_id, options_from_collection_for_select(@companies, :id, :name) %>
    <%= label_tag :password, nil, class: "left" %>
    <%= f.password_field :password, placeholder: 'password' %>
    <%= label_tag :password, nil, class: "left" %>
    <%= f.password_field :password_confirmation, placeholder: 'retype password' %>
    <%= f.submit %>
  <% end %>
</div>
