<h2><%= @project.name %>
<% if current_user.admin? %>
  <button><%= link_to "Edit Project", edit_project_path(@project) %></button>
<% end %>
</h2>
<%= @project.description %>
<hr>
<%= @project.address.street %>
<%= @project.address.city %>
<%= @project.address.state %>
<%= @project.address.zip %>
<hr>

<% if current_user.admin? %>
  <%= form_tag project_path(@project), method: "DELETE" do %>
    <%= submit_tag "Delete Project", data: {confirm: "Are you sure?"}, class: "danger" %>
  <% end %>
<% end %>

<hr>
<% if !@project.users.empty? %>
  <% @project.users.each do |user| %>
    <%= gravatar_for(user.email) %>
    <%= user.username %>
    <%= user.email %>
    <% if current_user.admin? %>
      <%= form_tag projects_user_path(@project), method: "DELETE" do %>
        <%= hidden_field_tag :user_id, user.id %>
        <%= submit_tag "X", data: {confirm: "Are you sure?"}, class: "danger" %>
      <% end %>
    <% end %>
    <hr>
  <% end %>
<% end %>

<% if current_user.admin? && @unassigned_users.present? %>
  <div><b>Add people to the project</b></div>
  <%= form_tag projects_users_path(@project) do %>
    <%= select_tag :user_id, options_from_collection_for_select(@unassigned_users, :id, :username) %>
    <%= submit_tag "Add" %>
  <% end %>
<% end %>

<% if @weather.present? %>
  <%= @weather[:description] %>
  <%= @weather[:temp] %>
  <%= image_tag(@weather[:image]) %>
<% end %>
