<% if current_user.admin? %>
  <div class="edit">
    <button><%= link_to "Edit Project", edit_project_path(@project) %></button>
  </div>
<% end %>

<% if current_user.admin? %>
  <%= form_tag project_path(@project), method: "DELETE" do %>
    <%= submit_tag "Delete Project", data: {confirm: "Are you sure?"}, class: "danger" %>
  <% end %>
<% end %>

<div class="project-info">
  <%= render partial: 'project_info', locals: { project: @project } %>
</div>

<div class="group">
  <% if @weather.present? %>
    <div class="weather">
      <div>Current Weather</div>
      <%= image_tag(@weather[:image]) %>
      <div><%= @weather[:temp] %></div>
      <div><%= @weather[:description] %></div>
    </div>
  <% end %>

  <% if current_user.admin? && @unassigned_users.present? %>
    <div class="add-people">
      <div>Add people to the project</div>
      <%= form_tag projects_users_path(@project) do %>
        <%= select_tag :user_id, options_from_collection_for_select(@unassigned_users, :id, :username) %>
        <%= submit_tag "Add" %>
      <% end %>
    </div>
  <% end %>
</div>

<hr>

<% if @project.users.present? %>
  <div class="assigned-ppl">
    <h2>People assigned to the project:</h2>
    <% @project.users.each do |user| %>
      <div class="person">
        <%= gravatar_for(user.email) %>
        <div><%= user.username %></div>
        <div class="email"><%= user.email %></div>
        <% if current_user.admin? %>
          <%= form_tag projects_user_path(@project), method: "DELETE" do %>
            <%= hidden_field_tag :user_id, user.id %>
            <%= submit_tag "x", data: {confirm: "You're unassigning #{user.username.capitalize}, are you sure?"}, class: "danger delete-person" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
