<!DOCTYPE html>
<html>
  <head>
    <title>Build Better</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main-wrapper">
    <header>
      <% if current_user %>
        <%= link_to image_tag('logo.png'), projects_path %>
        <button><%= link_to "Sign Out", signout_path, method: :delete %></button>
        <h1><%= current_user.company.name %></h1>
      <% else %>
        <%= link_to image_tag('logo.png'), root_path %>
      <% end %>
    </header>

    <% if flash[:notice] %>
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:success] %>
      <div class="flash-success">
        <%= flash[:success] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
